{% extends "base_client_role.html" %}
{% load i18n %}

{% block extrahead %}
    {{ form.media.css }}
{% endblock %}

{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{% translate "Update Mood Diary Entry" %}</h1>
    </div>

    <div class="row">
        <div class="col-xl-5 col-md-6 mb-4">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">{% translate "Update" %}</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ form.media.js }}
    {# Encrypt the value from the detail field before sending it to the server  #}
    <script>
        $(document).ready(function () {
            var hashed_key = sessionStorage.getItem('hashed_key'); // Retrieve the hashed key from the session storage
            var selector = $('textarea[name="details"]')
            var details = selector.val(); // Get details from the form's details field
            if (details) {
                var decrypted_details = CryptoJS.AES.decrypt(details, hashed_key).toString(CryptoJS.enc.Utf8); // Decrypt the details
                selector.val(decrypted_details); // Set the decrypted details as the text content of the details field
            }
            $('form').submit(function (event) {
                var details_final = selector.val();
                var encrypted_details = CryptoJS.AES.encrypt(details_final, hashed_key); // Encrypt the details
                selector.val(encrypted_details); // Set the encrypted details onto the form's details field
            });
        });
    </script>
{% endblock %}
