{% load el_pagination_tags %}

{% lazy_paginate entries %}
{% for entry in entries %}
    <li>
      <strong>Date:</strong> {{ entry.created_at.date }}<br>
      <strong>Duration:</strong> {{ entry.start_time }} - {{ entry.end_time }}<br>
      <strong>Mood:</strong> {{ entry.mood.label }} ({{ entry.mood.value }})<br>
      <strong>Activity:</strong> {{ entry.activity.value }}<br>
      <a href="{% url 'diaries:get_mood_diary_entry' pk=entry.id %}">Details</a>
    </li>
{% endfor %}
{% show_more %}
