{% extends "base_client_role.html" %}

{% block content %}
  <h1>Mood Diary Entries</h1>

  <p><a href="{% url 'diaries:create_mood_diary_entry' %}">Create entry</a></p>
  <p><a href="{% url 'diaries:release_mood_diary_entries' %}">Release all entries</a></p>

  {% if entries %}
    {% include page_template %}
  {% else %}
    <p>No mood diary entries found.</p>
  {% endif %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
{#    <script src="http://code.jquery.com/jquery-latest.js"></script>#}
    {% load static %}
    <script src="{% static 'el-pagination/js/el-pagination.js'  %}"></script>
    <script>$.endlessPaginate({paginateOnScroll: true, paginateOnScrollMargin: 20});</script>
{% endblock %}
