{% extends "base_generic.html" %}

{% block sidebar %}
<ul class="sidebar-nav">
  <li><a href="{% url 'users:index' %}">Home</a></li>
  <li><a href="{% url 'diaries:list_mood_diary_entries' %}">Diary</a></li>
  <li><a href="{% url 'users:logout' %}">Logout</a></li>
</ul>
{% endblock %}

{% block navigation_items %}

    <!-- Nav Item - Home -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'users:index' %}">
            <i class="fas fa-fw fa-home"></i>
            <span>Home</span></a>
    </li>

    <!-- Nav Item - Diary -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'diaries:list_mood_diary_entries' %}">
            <i class="fas fa-fw fa-book"></i>
            <span>Diary</span></a>
    </li>

{% endblock %}

{%  block alerts %}

    <!-- Nav Item - Alerts -->
    <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell fa-fw"></i>
            <!-- Counter - Alerts -->
            {% if user.client.new_notifications_count > 0 %}

            <span class="badge badge-danger badge-counter">{{ user.client.new_notifications_count }}</span>

            {% endif %}
        </a>
        <!-- Dropdown - Alerts -->
        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
        aria-labelledby="alertsDropdown">
        <h6 class="dropdown-header">
            Notifications Center
        </h6>

        {% if user.client.new_notifications_count > 0 %}
            {% for notification in user.client.get_newest_notifications %}

                <a class="dropdown-item d-flex align-items-center" href="{% url 'notifications:get_notification' pk=notification.id %}">
                    <div class="mr-3">
                        <div class="icon-circle bg-warning">
                            <i class="fas fa-file-alt text-white"></i>
                        </div>
                    </div>
                    <div>
                        <div class="small text-gray-500">{{ notification.created_at }}</div>
                        <span class="font-weight-bold">{{ notification.rule.title }}</span>
                    </div>
                </a>

            {% endfor %}
        {% endif %}

            <a class="dropdown-item text-center small text-gray-500" href="{% url 'notifications:get_all_notifications' %}">Show All Notifications</a>
        </div>
    </li>

    <div class="topbar-divider d-none d-sm-block"></div>

{% endblock %}

{% block rules %}

    <a class="dropdown-item" href="{% url 'rules:get_all_rules' %}">
        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
        Rules
    </a>

{% endblock %}
