{% extends "base_client_role.html" %}
{% load i18n %}

{% block content %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{% translate "Rules" %}</h1>
    </div>

    <div class="row">
        <div class="col-lg-10">

            <p>{% translate "Rules detecting patterns and creating notifications for detected patterns can be switched on and off on this page." %}</p>

            {% if rules %}
                {% include page_template %}
            {% else %}
                <p>{% translate "No rules found." %}</p>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% load static %}
    <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
    <script>$.endlessPaginate({paginateOnScroll: true, paginateOnScrollMargin: 20});</script>
{% endblock %}
