.button-lower-right-corner-1 {
  position: fixed;
  right: 4.5rem;
  bottom: 0.7rem;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  line-height: 46px;
}

.button-lower-right-corner-2 {
  position: fixed;
  right: 8.5rem;
  bottom: 0.7rem;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  line-height: 46px;
}

/* Mood Stepper */
.stepper-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.circle-and-label-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.stepper-wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
}

.stepper-screen-indicator {
  position: relative;
  z-index: 1;
  border-radius: 50%;
  border: 0.2em solid #858796;
  background-color: white;
  width: 2.3rem;
  height: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  font-size: 0.8em;
  margin: 0.2em;
}

.stepper-screen-indicator.stepper-completed {
  border-color: #4e73df;
  color: #4e73df;
  z-index: 2;
}

/* Center the label below the circles */
.active-mood-label {
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 0.5em;
}
