{% extends "base_client_role.html" %}
{% load i18n %}

{% block content %}

    <!-- Content Row -->

    <!-- Ask for Push Notifications Section -->
    {% if ask_for_push_notifications_permission %}

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{% translate "Push Notifications" %}</h1>
        </div>

        <!-- Content Row -->
        <div class="col">
            <p>
                <!-- ToDo: Format better and formulate more -->
                {% translate "May the Mood Diary send push notifications?" %}
            </p>
            <p>
                {% csrf_token %}
                <!-- Allow Button-->
                <button href="{% url 'users:change_password' %}"
                        id="enableNotifications"
                        class="btn mb-2 btn-primary">{% translate "Decide About Notifications" %}</button>
            </p>
            <script>
                document.getElementById('enableNotifications').addEventListener('click', function () {
                    requestNotificationPermission();
                });
            </script>
            <!-- ToDo: Update field on client model -->
        </div>

    {% endif %}

    <div class="row">

        <!-- Average Mood Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{% translate "Mood Overview" %}</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="moodOverviewChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{% translate "Mood Highlights" %}</h1>
    </div>

    <!-- Content Row -->
    <div class="col">

        {% for entry in mood_highlights %}
            <div class="row">
                <!-- Mood Highlight Card -->
                <div class="col-xl-5 col-md-6 mb-4">
                    <a href="{% url 'diaries:get_mood_diary_entry' pk=entry.id %}">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            {{ entry.mood }}</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ entry.activity }}</div>
                                        <div class="text-gray-500">{{ entry.date }}</div>
                                        <div class="text-gray-500">{{ entry.start_time }} - {{ entry.end_time }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-fw fa-book fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}

{% block scripts %}
    {% load static %}
    <!-- Asking for Notification Permission -->
    <script>const VAPID_PUBLIC_KEY = "{{ vapid_public_key }}";</script>
    <script src="{% static 'js/notifications.js' %}"></script>

    {{ mood_scores_dates|json_script:"chart-labels" }}
    {{ mood_scores_values|json_script:"chart-data" }}
    {{ mood_score_data_name|json_script:"chart-data-name" }}
    <script src="{% static 'js/average_mood_chart.js' %}"></script>
{% endblock %}
```
