{% extends "base_client_role.html" %}

{% block content %}

<!-- Content Row -->

<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Mood Overview</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="moodOverviewChart"></canvas>
                </div>
            </div>
        </div>
    </div>

</div>

    <h1>Mood Highlights</h1>
        {% for entry in mood_highlights %}
            <h2>Highlight {{ forloop.counter }}</h2>
            <ul>
                <li>Date: {{ entry.date }}</li>
                <li>Mood: {{ entry.mood }}</li>
                <li>Activity: {{ entry.activity }}</li>
            </ul>
        {% endfor %}

{% endblock %}

{% block scripts %}
{{ mood_scores_dates|json_script:"chart-labels" }}
{{ mood_scores_values|json_script:"chart-data" }}
{%  load static %}
<script src="{% static 'js/average_mood_chart.js' %}"></script>
{% endblock %}
```
