{% extends "base_client_role.html" %}

{% block content %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Notification</h1>
    </div>

    <div class="row">
    <div class="col-lg-6 mb-4">
        <div class="shadow mb-4">
            <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{ notification.created_at }} </h6>
            </div>
            <div class="card-body">
                <h4 class="text-md-left">Pattern</h4>
                <div class="text">
                    <p>{{ notification.rule.title }}</p>
                </div>
                <h4 class="text-md-left">Description</h4>
                <div class="text">
                    <p>{{ notification.message }}</p>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
