{% extends "base_counselor_role.html" %}

{% block content %}
  <h1>Clients</h1>

    <p><a href="{% url 'clients:create_client' %}">Create client</a></p>

  {% if clients %}
    <ul>
      {% for client in clients %}
        <li>
          <strong>Identifier:</strong> {{ client.identifier }}<br>
          <strong>Active:</strong> {{ client.active }}<br>
          <p><a href="{% url 'clients:list_mood_diary_entries_client' client_pk=client.id %}">Diary</a></p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No clients found.</p>
  {% endif %}
{% endblock %}
