{% load i18n %}
{% load el_pagination_tags %}

{% lazy_paginate clients %}
{% for client in clients %}
     <div class="col-xl-5 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <a href="{% url 'clients:list_mood_diary_entries_client' client_pk=client.id %}">
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ client.identifier }}</div>
                            <div class="text-gray-500">{% if client.active %}{% translate "Active" %}{%  else %}{% translate "Inactive" %}{% endif %}</div>
                            </a>
                        </div>
                        <div class="col-auto">
                            <a href="{% url 'clients:list_mood_diary_entries_client' client_pk=client.id %}">
                            <i class="fas fa-user fa-2x text-gray-300"></i>
                            </a>
                        </div>
                    <div class="col-auto ml-3">
                        <a class="btn btn-success btn-circle btn-sm" data-toggle="modal" data-target="#inactiveModal{{ client.id }}">
                            <i class="fas fa-volume-mute"></i>
                        </a>
                    </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- Set Client to inactive Modal-->
    <div class="modal fade" id="inactiveModal{{ client.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{% translate "Set this client to inactive?" %}</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">{% blocktranslate with identifier=client.identifier %}Select "Confirm" below if you are ready to set client {{ identifier }} to inactive to remove them from this list.{% endblocktranslate %}</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">{% translate "Cancel" %}</button>
                    <form method="post" action="{% url 'clients:update_to_inactive' pk=client.id %}">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">{% translate "Confirm" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% show_more %}
