{% load el_pagination_tags %}

{% lazy_paginate entries %}
{% for entry in entries %}
     <div class="col-xl-5 col-md-6 mb-4">
        <a href="{% url 'clients:get_mood_diary_entry_client' client_pk=entry.mood_diary.client_id entry_pk=entry.id %}">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                {{ entry.mood }}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ entry.activity }}</div>
                            <div class="text-gray-500">{{ entry.date }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        </div>
{% endfor %}
{% show_more %}
