{% extends base_template %}
{% load i18n %}

{% block content %}
    <h1 class="h3 mb-4 text-gray-800">{% translate "Profile Settings" %}</h1>
    <hr>
    <h2 class="h5 mb-4 text-gray-800">{% translate "Email And Password" %}</h2>
    <p>
        <!-- Change Email Button-->
        <a href="{% url 'users:change_email' pk=user.id %}"
           class="btn btn-primary">{% translate "Change Email" %}</a>
    </p>
    <p>
        <!-- Change Password Button-->
        <a href="{% url 'users:change_password' %}"
           class="btn mb-2 btn-primary">{% translate "Change Password" %}</a>
    </p>

    {% if is_client %}

        <hr>

        <h2 class="h5 mb-4 text-gray-800">{% translate "Push Notifications" %}</h2>
        <p>{% translate "Click the button to update your push notification settings." %}</p>
        <p>{% translate "If you have enabled push notifications here but do not receive any, ensure that you allowed notifications in your browser for the Mood Diary." %}</p>
        <!-- Push Notifications Button-->
        <form method="post" action="{% url "users:toggle_push_notifications" %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">
                {% if notifications_enabled %}
                    {% translate "Disable Notifications" %}
                {% else %}
                    {% translate "Enable Notifications" %}
                {% endif %}
            </button>
        </form>

    {% endif %}

{% endblock %}
